/* ==========================================================================
   #MODAL
   ========================================================================== */

.c-modal {
  position: absolute;
  top: 0;
  background: #fff;
  border-radius: $global-radius;
  border: 1px solid #cccccc;
  box-shadow: 0 0 1em black;

  @include mq($from: tablet) {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
  }
}

.c-modal__close {
  position: absolute;
  top: .5rem;
  line-height: 1;
  right: .6875rem;
  cursor: pointer;
  font-size: 1.375rem;
  font-weight: 700;
  color: #aaa;
}